[defaults]
retry_files_enabled = no
# This allows us to put roles into subdirectories in roles/ without having to supply the full path to the role
roles_path = roles

[privilege_escalation]
# Always ask for sudo password
become_ask_pass = yes

[diff]
# Always show diff output (--diff)
always = yes
