[color]
    ui = auto
[core]
    autocrlf = input
[includeIf "gitdir:~/Dropbox/workspace/personal/"]
    path = ~/workspace/personal/.gitconfig
[includeIf "gitdir:~/Dropbox/workspace/work/"]
    path = ~/workspace/work/.gitconfig
[includeIf "gitdir:~/workspace/personal/"]
    path = ~/workspace/personal/.gitconfig
[includeIf "gitdir:~/workspace/work/"]
    path = ~/workspace/work/.gitconfig
[init]
    # NOTE: This was added in Git 2.28; until then you can just do `git init && git checkout -b main`
    defaultBranch = main
[push]
    # Automatically set up remote branch on first push when no upstream tracking exists for the current branch
    autoSetupRemote = true
