---
- name: Install desired packages
  apt:
    name:
      - simple-scan
    state: present
  become: yes
  tags: [home-desktop]

# Without this, the login screen can be hard to see (e.g. stretched, too small) on some monitors
- name: Fix GDM login screen resolution
  copy:
    src: '/home/{{ ansible_user_id }}/.config/monitors.xml'
    dest: /var/lib/gdm3/.config/monitors.xml
    owner: gdm
    group: gdm
    mode: '0644'
  become: yes
  when:
    - ansible_distribution == "Ubuntu"
    - ansible_distribution_version is version('22.04', '>=')
    - ansible_distribution_version is version('24.04', '<=')
  tags: [home-desktop]
