---
- name: Remove undesired packages
  apt:
    name:
      # Does this get installed because it's recommended by ubuntu-desktop? Uninstall to
      # to prevent "Keep your files safe by backing up regularly" notification
      # NOTE: We could just also set the dconf value /org/gnome/deja-dup/prompt-check to
      #       'disabled' but we'd have to do it for every user. It makes more sense just
      #       to uninstall it for now.
      - deja-dup
    state: absent
    purge: true
  become: true
  tags: [home-desktop]

# Without this, the login screen can be hard to see (e.g. stretched, too small) on some monitors
- name: Fix GDM login screen resolution
  copy:
    src: '/home/{{ ansible_user_id }}/.config/monitors.xml'
    dest: /var/lib/gdm3/.config/monitors.xml
    owner: gdm
    group: gdm
    mode: '0644'
  become: true
  when:
    - ansible_distribution == "Ubuntu"
    - ansible_distribution_version is version('22.04', '>=')
    - ansible_distribution_version is version('24.04', '<=')
  tags: [home-desktop]
